section {
    display:flex;
}
section input {
    display:none;
}
button {
    background: none;
    border: none;
    color: white;
}
button img{
    width:100%;
    height:100%;
}
/* NIE DZIALA W CHUJ OGOLEM */
#settingsButton {
    position:fixed;
    left: 95vw;
    top: 21vh;
    z-index: 3;
    transition: all 0.2s;
}


#menu {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width:96vw;
    
    overflow: hidden;
    z-index: 2;
    margin-top: 2vh;
    margin-left:2vw;

    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background-color:#161a3399;
    -webkit-backdrop-filter: blur(5px);

    transition: all 0.2s;
}
.settingsMenuOpen {
    height: 20vh;
    outline: #7c362e solid 2px;
    border: #541e12 solid 2px;
}
.settingsMenuClosed {
    height: 0;
    border:none;
    outline: none;
}
.settingsButtonClosed {
    top: 2vh !important;
}


label {
    display:flex;
    justify-content:center;
    align-items:center;

    width: 5vh;
    height:5vh;
    color: white;
    background-color: #262a43;
    background-size: cover;
}
label, section img {
    outline: #7c362e solid 2px;
    border: #541e12 solid 2px;
}
#dlc label {
    margin:5px;
    width:8vw;
    height:4vw;
    filter: grayscale(90%);
}
#dlc input[type="checkbox"]:checked+label {
    filter: grayscale(0);
}
#dlc {
    
}
section img {
    height:5vh;
}
section {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 33%;
    width:33vw;
}

input[type="radio"]:checked+label, input[type="checkbox"]:checked+label, input[type="checkbox"]:checked+label img {
    background-color: #541e12;
    opacity:1;
}
input[type="radio"]+label, input[type="checkbox"]+label, input[type="checkbox"]+label {
    opacity: 0.75;
}